html{
    scroll-behavior: smooth;
}
*{
    font-family:Roboto;
}
.navigat{
    display: flex;
    margin:auto;
    gap: 30px;
}
body{
    background-color: rgb(255, 255, 255);
}
.Savvich-title img{
    width: 125px;
    height: 95px;
}
.Savvich-title{
    
    display: flex;
    gap: 17px;
}
.forflex{
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
    
}
.forflex article{
    border-radius: 16px;
    padding: 8px;
    color: #ffffff; 
}
.forfooter{
    display: flex;
    gap: 20px;
}

.forfooter img{
    height: 60px;
    width: auto;
}
.ascii{
    display: block;
}

@media(max-width:1000px){
    .forflex img{
        height: 200px;
    }
    .ascii{
        display: none;
    }
}
.for_padding{
    padding: 35px;
}