*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}
.fumo-box-shiroko{
    background-color: rgb(31, 187, 226);
    border-radius: 16px;
    padding: 8px;
    color: #ffffff;
    
    
    
}
.fumo-boxes img{
    border-radius: 17px;
    width: 250px;
    
    
}
.fumo-box-serika{
    background-color: rgb(226, 31, 89);
    border-radius: 16px;
    padding: 8px;
    color: #ffffff;
    
    
}
.fumo-boxes{
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    text-align: center;
    
}