*{
    font-family:Roboto;
}

body{
    background-color: rgb(255, 255, 255);
}
.Savvich-title img{
    width: 125px;
    
}
.Savvich-title{
    display: flex;
    gap: 17px;
}
.fumo-box-shiroko{
    background-color: rgb(31, 187, 226);
    border-radius: 16px;
    padding: 8px;
    color: #ffffff;
    
    
    
}
.fumo-boxes img{
    border-radius: 17px;
    width: 250px;
    height: 325px;
    
    
}
.fumo-box-serika{
    background-color: rgb(226, 31, 89);
    border-radius: 16px;
    padding: 8px;
    color: #ffffff;
    
    
}
.fumo-boxes{
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    text-align: center;
    
}
