*{
    font-family:Roboto;
}
.navigat{
    display: flex;
    margin:auto;
}
body{
    background-color: rgb(255, 255, 255);
}
.Savvich-title img{
    width: 125px;
    
}
.Savvich-title{
    
    display: flex;
    gap: 17px;
}
.fumo-box-shiroko{
    background-color: rgb(31, 187, 226);
    border-radius: 16px;
    padding: 8px;
    color: #ffffff;
}
.fumo-box-serika{
    background-color: rgb(226, 31, 89);
    border-radius: 16px;
    padding: 8px;
    color: #ffffff;
}
.fumo-box-hoshino{
    background-color: rgb(255, 165, 192);
    border-radius: 16px;
    padding: 8px;
    color: #ffffff; 
}
.fumo-box-nonomi{
    background-color: rgb(125, 207, 132);
    border-radius: 16px;
    padding: 8px;
    color: #ffffff; 
}
.fumo-box-ayane{
    background-color: rgb(207, 190, 112);
    border-radius: 16px;
    padding: 8px;
    color: #ffffff; 
}
.fumo-boxes-ftf{
    
    background-color: rgba(0, 255, 255, 0.425);
    border-radius: 16px;
    padding: 15px;
}
.fumo-boxes-aha{
    
    background-color: rgba(255, 0, 98, 0.425);
    border-radius: 16px;
    padding: 15px;
}
.fumo-box-kaede{
    background-color: rgb(250, 81, 81);
    border-radius: 16px;
    padding: 8px;
    color: #ffffff;
}
.fumo-box-tsubaki{
    background-color: rgba(240, 7, 7, 0.897);
    border-radius: 16px;
    padding: 8px;
    color: #ffffff;
}
.fumo-box-mimori{
    background-color: rgba(238, 113, 113, 0.897);
    border-radius: 16px;
    padding: 8px;
    color: #ffffff;
}

.forflex img{
    border-radius: 17px;
    width: auto;
    height: 325px;
    
}

.forflex{
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
}

