html{
    scroll-behavior: smooth;
}
*{
    font-family:Roboto;
}
.bad{
    color: red;
}
.navigat{
    display: flex;
    margin:auto;
    gap: 30px;
}
.navigatf{
    display: flex;
    margin:auto;
    gap: 30px;
}

body{
    background-color: rgb(255, 255, 255);
}
.Savvich-title img{
    width: 125px;
    height: 95px;
}
.Savvich-title{
    
    display: flex;
    gap: 17px;
}
.forflex{
    display: flex;
    gap: 75px;
    flex-wrap: wrap;

    
    
}
.forflex article{
    border-radius: 16px;
    padding: 8px;
    color: #ffffff; 
}
.forfooter{
    display: flex;
    gap: 20px;
}

.forfooter img{
    height: 60px;
    width: auto;
}
.ascii{
    display: block;
}

@media(max-width:1000px){
    .forflex img{
        height: 200px;
    }
    .ascii{
        display: none;
    }
}
.for_padding{
    padding-left: 35px;
    padding-top: 5px;
}
.About{
    background-color: rgb(240, 203, 155);
    border-radius: 16px;
}
.sign{
    justify-content: flex-end;
    display: flex;

}
.sign img{
    height: 125px;
}
@media(max-width:1000px){
    .forflex img{
        height: 200px;
    }
    .navigat{
        display: none;
    }
}