html{
    scroll-behavior: smooth;
}
*{
    font-family:Roboto;
}

.navigat{
    display: flex;
    margin:auto;
    gap: 30px;
}
.navigatf{
    display: flex;
    margin:auto;
    gap: 30px;
}
body{
    background-color: rgb(255, 255, 255);
}
.Savvich-title img{
    width: 125px;
    height: 95px;
}
.Savvich-title{
    
    display: flex;
    gap: 17px;
}
.good{
    color: rgb(0, 212, 18);
}
.bad{
    color: red;
}
.ok{
    color: yellow;
}
.extra{
    color: rgb(255, 0, 255);
}
.attention{
    justify-content: center;
    gap: 30px;
    display: flex;
    border-radius: 16px;
    padding: 8px;
    color: #000000; 
    background-color: rgb(255, 255, 145);
}
.fumo-box-shiroko{
    background-color: rgb(31, 187, 226);
    
}
.fumo-box-serika{
    background-color: rgb(226, 31, 89);
    
}
.fumo-box-hoshino{
    background-color: rgb(255, 165, 192);
    
}
.fumo-box-nonomi{
    background-color: rgb(125, 207, 132);
    
}
.fumo-box-ayane{
    background-color: rgb(207, 190, 112);
    
}
.fumo-boxes-ftf{
    
    background-color: rgba(0, 255, 255, 0.425);
    border-radius: 16px;
    padding: 15px;
}
.fumo-boxes-aha{
    
    background-color: rgba(255, 0, 98, 0.425);
    border-radius: 16px;
    padding: 15px;
}
.fumo-box-kaede{
    background-color: rgb(250, 81, 81);
    
}
.fumo-box-tsubaki{
    background-color: rgba(240, 7, 7, 0.897);
    
}
.fumo-box-mimori{
    background-color: rgba(238, 113, 113, 0.897);
    
}

.forflex img{
    border-radius: 17px;
    width: auto;
    height: 325px;
    
    
}

.fumo-boxes-tgs{
    background-color: #f2c87994;
    border-radius: 16px;
    padding: 15px;
}

.fumo-box-kazusa{
    background-color: #D2799B;
    
}

.fumo-box-natsu{
    background-color: #F689AC;
    
}

.fumo-box-airi{
    background-color: #78CDC8;
    
}
.fumo-box-mari{
    background-color: #EDAB6E;
}
.fumo-box-hinata{
    background-color: #E5D185;
}
.fumo-box-yoshimi{
    background-color: #EEC893;
}
.fumo-box-sakurako{
    background-color: #CDC4B5;
}

.fumo-boxes-mss{
    background-color: #73b1f0b9;
    border-radius: 16px;
    padding: 15px;
}
.boxorg-maid{
    background-color: #459af0da;
    border-radius: 16px;
    padding: 15px;
}
.fumo-box-toki{
    background-color: #3ACBF7;
}
.fumo-box-karin{
    background-color: #c0bd8b;
}
.fumo-box-asuna{
    background-color: #CBBEB2;
}
.fumo-box-akane{
    background-color: #74bed6;
}
.fumo-box-neru{
    background-color: #F6B8B2;
}

.fumo-box-yuuka{
    background-color: #5A4C7F;
}

.fumo-boxes-vpa{
    background-color: #A1A9E1;
    border-radius: 16px;
    padding: 15px;
}
.fumo-box-kirino{
    background-color: #866AE3;
}
.forflex img{
    transition: 0.5s;
}
.forflex img:hover{
    transform: scale(0.9);
}
.forflex{
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
    
}
.forflex article{
    border-radius: 16px;
    padding: 8px;
    color: #ffffff; 
}
.forfooter{
    display: flex;
    gap: 20px;
}

.forfooter img{
    height: 60px;
    width: auto;
}

.ascii{
    display: block;
}

.sign{
    justify-content: flex-end;
    display: flex;

}
.sign img{
    height: 125px;
}
@media(max-width:1000px){

    .forflex img{
        height: 150px;
    }
    .navigat{
        display: none;
    }
    .ascii{
        display: none;
    }
}